In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("salary.csv")

In [4]:
dataset

   YearsExperience,Salary
0            1.1,39343.00
1            1.3,46205.00
2            1.5,37731.00
3            2.0,43525.00
4            2.2,39891.00
5            2.9,56642.00
6            3.0,60150.00
7            3.2,54445.00
8            3.2,64445.00
9            3.7,57189.00
10           3.9,63218.00
11           4.0,55794.00
12           4.0,56957.00
13           4.1,57081.00
14           4.5,61111.00
15           4.9,67938.00
16           5.1,66029.00
17           5.3,83088.00
18           5.9,81363.00
19           6.0,93940.00
20           6.8,91738.00
21           7.1,98273.00
22          7.9,101302.00
23          8.2,113812.00
24          8.7,109431.00
25          9.0,105582.00
26          9.5,116969.00
27          9.6,112635.00
28         10.3,122391.00
29         10.5,121872.00

In [5]:
# target 
y = dataset["Salary"]

KeyError: 'Salary'